<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Command line suite">
    <test name="ESBTestServer" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.esb.integration.ESBTestServerManager"/>
        </classes>
    </test>

    <test name="Test - Mediator fault" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.fault.CustomErrorMessageTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.MakeFaultMediatorTest"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultStringValueTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultStringExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultCodeVersionMismatchedTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultCodeMustUnderstandTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultCodeClientTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultCodeServerTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultActorTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultDetailsTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultDetailAsElementTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultFullTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultOutSequenceTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultWithAttributeResponseTrueTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap11FaultWithAttributeResponseFalseTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultStringValueTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultStringExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultCodeVersionMismatchedTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultCodeMustUnderstandTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultCodeDataEncodingUnknownTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultCodeReceiverTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultCodeSenderTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultActorTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultDetailsTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultDetailAsElementTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultNodeTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultFullTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultWithAttributeResponseTrueTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultWithAttributeResponseFalseTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.Soap12FaultOutSequenceTestCase"/>

        </classes>
    </test>
    <test name="Test - Mediator XQuery" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryMediatorTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQuerySample391"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustom"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsString"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsByte"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsInteger"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsInt"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsBoolean"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsFloat"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsDouble"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustomVariableAsLong"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryReplaceEmptyMessageBody"/>

        </classes>
    </test>

    <test name="Test - Mediator - rewrite" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.rewrite.Sample450"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.Sample451"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.Sample452"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.ProtocolReWriteTest"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.ProtocolReWriteFromProperty"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.UrlReWriteByPort"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.UrlReWriteByHost"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.UrlReWriteByContext"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.ReWriteFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWriteHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWriteProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWritePortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWritePathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWriteFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendPortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendPathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependPortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependPathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetPortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetPathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetFullUrlWhenNoAddressingUrlTestCase"/>
        </classes>
    </test>

    <test name="Test - Mediator Payload Factory" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.payload.factory.Sample17TestCase"/>
            <class name="org.wso2.carbon.mediator.tests.payload.factory.TransformPayloadWhenNoArgsTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.payload.factory.TransformPayloadWhenArgsValueTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.payload.factory.TransformPayloadWhenArgsExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.payload.factory.TransformPayloadWhenArgsValueAndExpressionTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator Header" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.header.Sample6TestCase"/>
            <class name="org.wso2.carbon.mediator.tests.header.Sample100TestCase"/>
            <class name="org.wso2.carbon.mediator.tests.header.SetHeaderToTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.header.RemoveSecurityFromHeaderTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.header.SetHeaderActionTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator xslt" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.xslt.InLineLocalEntryXsltTransformationTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xslt.FileSystemLocalEntryXsltTransformationTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xslt.RegistryEntryXsltTransformationTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xslt.XsltTransformationWithPropertyTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xslt.XsltTransformationFromUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xslt.DynamicKeyXsltTransformationTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator Clone" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.clone.CloneMediatorTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.clone.ValidSoapActionTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.clone.ToAddressTestCase"/>
        </classes>
    </test>

    <test name="Test - Mediator Cache" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.cache.PerHostTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.cache.MessageSizeTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.cache.MessageSizeNullTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.cache.NegativeCacheTimeOutTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.cache.NegativeMaxMsgSizeTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.cache.NegativeMaxSizeTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.cache.FinderTypeTestCase"/>
        </classes>
    </test>
</suite>