<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://ws.apache.org/ns/synapse">
    <registry provider="org.wso2.carbon.mediation.registry.WSO2Registry">
        <parameter name="cachableDuration">15000</parameter>
    </registry>
    <localEntry key="testBean">
        <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
            <bean id="springTest" class="org.wso2.carbon.mediator.spring.test.classes.SpringTest">
                <property name="name">
                    <value>"Chamara"</value>
                </property>
            </bean>
        </beans>
    </localEntry>
    <sequence name="fault">
        <log level="full">
            <property name="MESSAGE" value="Executing default 'fault' sequence"/>
            <property name="ERROR_CODE" expression="get-property('ERROR_CODE')"/>
            <property name="ERROR_MESSAGE" expression="get-property('ERROR_MESSAGE')"/>
        </log>
        <drop/>
    </sequence>
    <sequence name="main">
        <in>
            <spring:spring xmlns:spring="http://ws.apache.org/ns/synapse" bean="springTest" key="testBean"/>
            <send>
                <endpoint name="endpoint_urn_uuid_7AB220DD71CAC26C0E25495419577441-1384928262">
                    <address uri="http://localhost:9000/services/SimpleStockQuoteService"/>
                </endpoint>
            </send>
        </in>
        <out>
            <send/>
        </out>
    </sequence>
</definitions>