<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Command line suite">
  <test name="Test - Proxy Services" preserve-order="true" verbose="2">
    <classes>
      <class name="org.wso2.esb.integration.ESBTestServerManager"/>
      <class name="org.wso2.carbon.proxyservices.test.ProxyAdminServiceTestCase"/>
      <class name="org.wso2.carbon.proxyservices.test.PassThroughServiceTestCase"/>
      <class name="org.wso2.carbon.proxyservices.test.WSDLBasedTestCase"/>
      <!--<class name="org.wso2.carbon.proxyservices.test.ThrottleTestCase"/>-->
      <!--<class name="org.wso2.carbon.proxyservices.test.WSDLWithXSDImportsTestCase"/>-->
    </classes>
  </test>
</suite>
