<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Command line suite">
    <test name="Test - NHTTP Transport" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.esb.integration.ESBTestServerManager"/>
            <class name="org.wso2.esb.integration.nhttp.HTTPHeaderManipulationTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.GETRequestQueryParamTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.QueryParameterManipulationTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.WSDLRequestTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.ReturnServerIPTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.DisableChunkingTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.HTTP10TestCase"/>
            <class name="org.wso2.esb.integration.nhttp.GZipMediationTestCase"/>
            <class name="org.wso2.esb.integration.nhttp.GETRequestHandlerTestCase"/>
	    <class name="org.wso2.esb.integration.nhttp.HTTPRequestHostHeaderPropertyTestCase"/>
        </classes>
    </test>
</suite>
