<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>


    <test name="passthru-Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.passthru.transport.test"/>
        </packages>
    </test>

    <test name="http-patch-method-support-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3051HTTPPatchMethodSupportTestCase"/>
        </classes>
    </test>

    <test name="JMS-transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.jms.transport.test.*"/>
        </packages>

        <classes>
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA2824MissingResponseTestCase">
 		<methods>
                    <exclude name=".*" />
                </methods>
	    </class>

        </classes>
    </test>

    <test name="inbound-Http Endpoint-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundTransportTestCase"/>
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundTransportTenantTestCase"/>
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundDispatchTestCase"/>
        </classes>
    </test>


    <test name="nhttp-Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.nhttp.transport.test"/>
        </packages>
    </test>

    <test name="VFS-transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.vfs.transport.test.*"/>
        </packages>
    </test>

    <test name="TCP-transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.tcp.transport.test.*"/>
        </packages>
    </test>

    <!--disabled since feature management is used to install hl7 feature-->
    <!--    <test name="HL7-transport-Test" preserve-order="true" verbose="2">
            <packages>
                <package name="org.wso2.carbon.esb.hl7.transport.test.*"/>
            </packages>
        </test>-->

    <test name="inbound-File Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.file.inbound.transport.test"/>
        </packages>
    </test>

    <test name="inbound-Generic Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.generic.inbound.transport.test"/>
        </packages>
    </test>

    <test name="local Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.local.transport.test"/>
        </packages>
    </test>

    <test name="inbound-JMS Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.jms.inbound.transport.test"/>
        </packages>
    </test>

    <!-- Kafka is not availble with framework-->
    <!--test name="inbound-KAFKA Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.kafka.inbound.transport.test"/>
        </packages>
    </test-->

    <test name="inbound-HL7 Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.hl7.inbound.transport.test"/>
        </packages>
    </test>

    <test name="MailTo-transport-Test-Receiver" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mailto.transport.receiver.test"/>
        </packages>
    </test>

	<!-- Commented since it's failing in jenkins -->
    <!--test name="Https Inbound Transport Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.https.inbound.transport.test"/>
        </packages>
    </test>-->


</suite>

