<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>
    <test name="ProxyService-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.proxyservice.test.*"/>
        </packages>
    </test>
    <test name="Endpoint-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.endpoint.test"/>
        </packages>
    </test>
    <test name="LocalEntry-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.localentry.test.general"/>
            <package name="org.wso2.carbon.esb.localentry.test"/>
        </packages>
    </test>
    <test name="Rest-API-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.rest.test.api"/>
        </packages>
    </test>
    <test name="Rest-API-Header-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.rest.test.header"/>
        </packages>
    </test>
    <!--test name="POX-security-Test" preserve-order="true" verbose="2">
    	<packages>
    		<package name="org.wso2.carbon.esb.rest.test.security"/>
    	</packages>
    </test-->   
    <test name="Rest-JSON-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.json.test"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.json.test.XMLToJsonTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>

    </test>

    <test name="CAR-Deployment" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.car.deployment.test"/>
        </packages>
    </test>


    <test name="ScheduleTask-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.scheduledtask.test"/>
        </packages>
    </test>
    <!--test name="email-Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.email.transport.test"/>
        </packages>
    </test-->
    <!-- 
    Commented since this is causing a build break in jenkins and ec2
     -->
    <!--test name="Tenant-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.tenant.test.*"/>
        </packages>
    </test>-->
</suite>
