<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <!--<test name="Server-Stratup" preserve-order="true" verbose="2">-->
    <!--<classes>-->
    <!--<class name="org.wso2.carbon.esb.ServerStartupTestCase"/>-->
    <!--</classes>-->
    <!--</test>-->
    <!-- <test name="ESB-Test-patches" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.*"/>
        </packages>
    </test> -->


    <test name="Template-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.template.*"/>
        </packages>
    </test>

    <test name="GetProcessor-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.getprocessor.test"/>
        </packages>
    </test>

    <test name="Registry-Caching-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.registry.caching"/>
        </packages>
    </test>
    <test name="No Entity Body Check" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.NoEntityBodyPropertyCheck"/>
        </classes>
    </test>

    <test name="QueryParam-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.endpoint.test.ESBJAVA3340QueryParamHttpEndpointTestCase"/>
        </classes>
    </test>

    <test name="JSON-Tests" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.json"/>
        </packages>
    </test>

    <test name="EmptyStackExceptionTest" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.clone.ESBJAVA3412EmptyStackExceptionTest"/>
        </classes>
    </test>
    <!--<test name="Endpoint Exisitance Test Case in Tenant Deployed through CAPP"-->
          <!--preserve-order="true" verbose="2">-->
        <!--<classes>-->
            <!--<class-->
                    <!--name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA3611EndpointTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Cache mediator with REQUESTHASHGenerator test" preserve-order="true" verbose="2">-->
        <!--<classes>-->
            <!--<class name="org.wso2.carbon.esb.mediators.cache.APIMANAGER1838RequestHashGeneratorTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="Enrich Mediator Tests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.enrich.ESBJAVA3676EnrichSourcePropNoClone"/>
        </classes>
    </test>

    <test name="JMS Test">
        <classes>
            <class name="org.wso2.carbon.esb.jms.transport.test.JMSBrokerStartupTestCase" />
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA3714JMXPauseJMSListener" />
        </classes>
    </test>

    <test name="VFS SFTP test"
          preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA3470"/>
        </classes>
    </test>

    <test name="Xml payload and json Content Type Test Case" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.json.ESBJAVA_3698_MessageBuildingWithDifferentPayloadAndContentTypeTestCase" />
        </classes>
    </test>

	<test name="Duplicate SOAP Action Header Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.callout.CARBON15119DuplicateSOAPActionHeader" />
        </classes>
	</test>
</suite>


